body {
    background:url('https://picsum.photos/1920/1080/?random');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.App {
  margin-top: 50px;   
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #ecf0f1c7;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.App .Header {
    width: inherit;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4d4d4d12; 
    overflow: hidden;
}


.App .Header >img {
    margin-left: 15px;
    margin-right: 5px;
}

.App .Header >input {
    font: 14px Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    border: none;
    width: 100%;
    height: 35px;
    margin-right: 10px;
    background: transparent;
}

.App .Header >input:focus {
    outline: none;
    border: none;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #95a5a6;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #95a5a6;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #95a5a6;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #95a5a6;
  }

  .App .Footer {
    width: inherit;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed; 
    overflow: hidden;
}

.App .Footer >p {
    margin-left: 15px; 
}

.App .Footer >button {
    margin-left: 15px; 
    background: transparent;
    border-radius: 25px;
    padding: 8px; 
    outline: none;
    cursor: pointer; 
    border: none;
}
.App .Footer >button.btn_active {
   
    background:#1abc9c;
    transition: all .7s;
}

.App .Header .tick {
    padding: 5px!important;
    opacity: .5;
    cursor: pointer;
    border-radius: 50px;
    transform: scale(0.7);
    transition: all 0.5s;
}

.App .Header .tick:hover {
    opacity: 1;
    background: #1abc9c;
    transition: all .5s;
    transform: scale(1);
}